<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextAnalyzer</title>
</head>
<body>
    <h1>TEXT ANALYZE :</h1>
    <form action="/analyzeresult" method="get">
        <textarea name="textanalyze" id="" cols="100" rows="10" style="font-size: x-large; font-weight: 1000;"></textarea>
        <br><br>
        <input type="checkbox" name="removepunc">Remove Punctuations
        <input type="checkbox" name="charcount">Character Count
        <button style="margin-top: 25px; position: relative; display: flex;" type="submit">ANALYZE TEXT</button>
    </form>
</body>
</html>